[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "uaa clone "
[access "refs/*"]
	owner = group user/mdanese1954
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mdanese1954
	label-Verified = -1..+1 group user/mdanese1954
	push = group user/mdanese1954
	read = group user/mdanese1954
	rebase = group user/mdanese1954
	removeReviewer = group user/mdanese1954
	submit = group user/mdanese1954
[access "refs/heads/*"]
	create = group user/mdanese1954
	push = +force group user/mdanese1954
	pushMerge = group user/mdanese1954
	read = group user/mdanese1954
[access "refs/tags/*"]
	push = group user/mdanese1954
	push = +force group user/mdanese1954
